# **Variables**

In [1]:
marks = 100 #integer
miles = 1000.0 #float
name = 'Abdullah'
name1 = "Abdullah Khan"

In [2]:
print(marks)
print(miles)
print(name)
print(name1)

100
1000.0
Abdullah
Abdullah Khan

In [3]:
marks = 100
marks = 1000
print(marks)

1000

# **Variable Names**

In [5]:
name = " "
1=
#name1, name2, name3

SyntaxError: ignored

In [4]:
my_variable = 10
my_Var = 20
_my_var = 30

In [7]:
age = 25 #integer
height = 5.11 #float/double
message = "Hi"
number = "1"
my_list = [1, 2, 3, 4, 45.0, 'Abdullah'] #list

# **Assignments**

In [8]:
name = 'Abdullah'
a=b=c= 1
print(a,b,c)
a, b, c = 1, "2", 34.0
print(a, b, c)

1 1 1
1 2 34.0

# **More on String**

In [12]:
first_name = 'Abdullah'
last_name = 'Khan'
print(first_name + last_name)
print(first_name + " " + last_name)

full_name = first_name + " " + last_name
print(full_name)

#Multiplication

print(first_name * 2 )

AbdullahKhan
Abdullah Khan
Abdullah Khan
AbdullahAbdullah

In [15]:
name = "Mickey"
print(name[0])
print(name[1])
print(name[2:5])
print(name[2:])

M
i
cke
ckey

# **Lists**

In [16]:
list1 = [1, 2, 3, 'khan', 23.0]
print(list1*2)
print(list1[0])
print(list1[1])
print(list1[2:5])
print(list1[2:])

[1, 2, 3, 'khan', 23.0, 1, 2, 3, 'khan', 23.0]
1
2
[3, 'khan', 23.0]
[3, 'khan', 23.0]

In [18]:
list_1 = [1, 2, 3, 4, 5, 'Abdullah']
list_2 = [6, 7, 8, 9, 10, 'Khan']
print(list_1 + list_2)

updated_list = list_1 + list_2
print('Updated List :', updated_list)

[1, 2, 3, 4, 5, 'Abdullah', 6, 7, 8, 9, 10, 'Khan']
Updated List : [1, 2, 3, 4, 5, 'Abdullah', 6, 7, 8, 9, 10, 'Khan']

# **Tuple**

In [20]:
tuple_1 = (1, 2, 2.0, 'Abdullah Khan')
print(tuple_1)
print(tuple_1[2:5])

(1, 2, 2.0, 'Abdullah Khan')
(2.0, 'Abdullah Khan')

# **Dictionary**

In [21]:
#dict_1 = {'key : value}
dict_1 = {'name' : 'Abdullah'}
print(dict_1['name'])

Abdullah

In [22]:
dict_2 = {1 : 'One', "float" : 21.0}
print(dict_2[1])
print(dict_2['float'])

One
21.0