# **Functions:**

In [ ]:
def greet(name):
  print(f'Hello {name}')

In [ ]:
greet('Abdullah')
greet('Haseeb')

Hello Abdullah
Hello Haseeb

In [ ]:
def sum(a,b):
  return a + b

In [ ]:
sum_value = sum(12,13)
print(sum_value)

25

In [ ]:
def divide(a,b):
  if b==0:
    return 'Cannot Divide by 0'
  else:
    return a / b

In [ ]:
divided_value = divide(10, 5)
print(divided_value)

2.0

# **Default Parameters**

In [ ]:
def greet(name, greeting = "Hello"):
  print(f"{greeting}!{name}")

In [ ]:
greet('Abdullah')
greet('Abdullah', 'Hi')

Hello!Abdullah
Hi!Abdullah

# **Scope Of Variables**

In [ ]:
global_variable = 10

def my_function():
  local_variable = 5
  print(global_variable)
  print(local_variable)

my_function()

10
5

In [ ]:
print(local_variable)

NameError: ignored

In [ ]:
print(global_variable)

10

# **Calling Functions within Functions**

In [ ]:
def square(x):
  return x * x

In [ ]:
def square(x):
    return x * x

def cube(x):
    return x * square(x)

y = cube(12)
print(y)

1728

# **Factorial**

In [ ]:
def factorial(n):
  if n == 0 :
    return 1
  else:
    return n * factorial(n-1)

result = factorial(5)
print(result)

120