In [1]:
name = 'Alice'
age = 30
print('Hello %s!. You are %d years old'%(name, age))

Hello Alice!. You are 30 years old

# **2. str.format() method**

In [5]:
name = 'Bob'
age = 25
formatted_string = 'Hello {}! You are {} years old'.format(name, age)
print(formatted_string)

Hello Bob! You are 25 years old

# **f-strings(Formatted String Literals)**

In [6]:
name = "Charlie"
age = 28
print(f"Hello, {name}!, You are {age} years old")

Hello, Charlie!, You are 28 years old

In [8]:
value = 3.14159
formatted_float = f'Value: {value:.2f}'
print(formatted_float)

Value: 3.14

In [10]:
name = 'Khan'
age = 21
formatted_string = f"Name: {name}, Age {age}".format(a=age, n = name)
print(formatted_string)

Name: Khan, Age21